:root{
    --orange:#ffac0c;
    --grey:rgb(124,124,124)
}
html{
    scroll-behavior: smooth;
}
body{
  background-color: black;
  color: #fff;
  margin: 0px;
  padding: 0px;
}

/*tout les titres du niveauh1 */
h1{
    font-size: 3vw;
    margin: 0;
}

/* la description*/
.description{
    color: var(--grey);
    font-size: 15px;
}

/*pour les images */
img{
    filter: brightness(50%);
    cursor: pointer;
    transition: filter 0,5s;
}

/*pour que lorsqu'on pointe le curseur sur l'image sa bouge*/

img:hover{
    filter: brightness(100%);
}

/*sur notre projet ce qui se repet on change de couleure*/
.mini-title{
    color: var(--orange);
}



/*appliquons la specification de chaque icone*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 1;
}

/*pour modifier la taille des lettre h1*/
nav h1{
    font-size: 1.5em;
}

nav h1 span{
    color: var(--orange);
}

/*travaillons donc sur notre liste ul*/
nav ul{
    display: flex;
     align-items: center;
    list-style-type: none;
}

/* enlevons la couleur qui s'affiche sur nos liens*/
nav ul a{
    text-decoration: none;
    color: inherit;
}

/*pour mettre du genre que sa doit bien fonctionner sur un mobile*/
nav ul #label{
    display: none;
}

/*occupons nous maintenat de chaque onglet qui se trouve au niveau de barre de navigation donc specifier et espacer chaque li */
nav ul li{
    margin-right: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 13px;
}

/*specifier que lorsque l'utilisateur place le curseur sa change de couleur (orange) et sa s'alume*/
nav ul li:hover{
    color: var(--orange);
}

/* on s'occupe maintenant de notre bouton*/

nav ul button{
    padding: 5px 20px;
    color: var(--orange);
    background-color: inherit;
    border: 1px solid var(--orange);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}

nav ul button:hover{
    background-color: var(--orange);
    color: white;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
}
header-left{
    width: 45%;
}
header-image{
    width: 55%;
    text-align: center;
}
header-image img{
    width: 300px;
    margin: 0 -30px;
    filter: drop-shadow(0 30px 60px rgba(0,0,0,0.9));
}

/* pour agrandir la police du h1*/
header h1{
    font-size: 50px;
    font-weight: 700px;
    line-height: 1.2;
}
.btn-primary{
    margin-top: 5px;
    padding: 10px 20px;
    background-color: inherit;
    color: var(--orange);
    border: 1px solid var(--orange);
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 40px;
}
/*pour que lorsque tu tout sa change de couleur*/
.btn-primary:hover{
    background-color: var(--orange);
    color: white;
}

/* ici c'est pour le a propos de nous*/
.presentation{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid: template rows 1fr; 
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    align-items: center;
    justify-content: center;

}
.presentation .left{
    grid-area: 1/1/2/3;
}
.presentation .left img{
    width: 100%;
}
.presentation.right{
    grid-area: 1/3/2/6;
}

/*pour centrer nos element*/
#recipies{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--orange);
    border-radius: 10px;

}
#recipies h2{
    margin: 0;
}
/*pour aligner nos element de recette*/
#recipies .cards{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
/*pour redimensionner nos element*/
#recipies .cards .card{
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*pour mettre modifier les etoiles*/ 
#recipies .cards .card .rating-stars i{
    color: var(--orange);
    font-size: 10px;
}
#recipies .cards .card h3{
    margin: 5px;
}
#recipies .cards .card img{
    width: 200px;
    height: 160px;
}




/*pour l'affiche du menu*/
#menu-poster{
    max-width: 750px;
    margin: 60px auto;
    padding: 40px;
    background: var(--orange);
    font-family: Georgia, serif;
    border-radius: 10px;
}
#menu-poster .menu-header{
    text-align: center;
    margin-bottom: 30px;
}
#menu-poster .menu-header h1{
    font-size: 45px;
    color: #8B0000;
    margin-bottom: 5px;
}

#menu-poster .subtitle{
    font-style: italic;
    margin-bottom: 10px;
}
#menu-poster h2{
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
    color: #b22222;
}

#menu-poster .menu-category h3{
    color: #b22222;
    border-bottom: 2px solid #b22222;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
#menu-poster .menu-item{
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    border-bottom: 1px dotted #999;
}
#menu-poster .menu-item span{
    font-size: 16px;
}
#menu-poster .price{
    font-size: 16px;
    color: #8B0000;
}
/*pour le formulaire*/
#Newsletter{
    margin-top: 80px;
    background: linear-gradient(to left, #ffd700,#f12711);
    margin: 50px;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Newsletter h1{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
}
#Newsletter form{
    display: flex;
}
#Newsletter form{
    width: 50%;
}
#Newsletter form input{
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
}
#Newsletter form button{
    background-color: black;
    color: white;
     border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*le formulaire*/

/*pour le footer*/
footer{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    border: 1px solid var(--grey);
    border-bottom: none;
}
footer .column{
    flex-grow: 1;
    margin-right: 20px;
}
footer .column p{
    color: var(--grey);
    font-size: 13px;
    cursor: pointer;
}
footer .column p:hover{
    color: var(--orange);
}
footer .important{
    flex-grow: 2;
}
/*format mobile*/
@media screen and(max-width: 600px){
    nav ul li,
    nav ul button{
        display: none;
    }
    nav ul #label{
        display: block;
    }

    nav.responsive{
        position: relative;
        display: block;
        padding-top: 10px;
    }
    nav.responsive ul{
        padding: 0;
    }
    nav.responsive ul li{
        display: block;
    }
    nav.responsive ul #label{
        position: absolute;
        right: 0;
        top: 16px;
        }
    header .right, .presentation{
        margin-top: 40px;
        display: block;
    }
    header .right, .presentation .left{
        display: none;
    }

    #recipies{
        margin-top: 50px;
    }
    #recipies h2{
        font-size: 20px;
        text-align: center;
    }
 }